

<%= @series.title %>
<% @series.episodes.all.each do |episode| %>
  <ul>
    <li><%= episode.title %></li>
    <li><%= episode.encoded %></li>
    <li><%= episode.path %></li>
    <li><%= link_to 'Encode', api_v1_encode_records_path(episode.id), method: :post %></li>
  </ul>
<% end %>
